$screen-sm: 40rem;
$screen-md: 48rem;
$screen-lg: 64rem;
$screen-xl: 80rem;
$screen-2xl: 96rem;

@mixin sm {
  @media screen and (max-width: $screen-sm) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: $screen-md) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: $screen-lg) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: $screen-xl) {
    @content;
  }
}

@mixin xxl {
  @media screen and (max-width: $screen-xxl) {
    @content;
  }
}

@mixin customMedia($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}
